page {
  padding-bottom: 128px;
  background-color: #fff;
}
.braces-info {
  padding: 60px 45px 0;
  .notes-box {
    .notes {
      display: block;
      padding: 43px 0 27px;
      font-size: 28px;
      border-bottom: solid 1px#e6e6e6;
      input {
        display: block;
        height: 26px;
        line-height: 26px;
      }
    }
  }
  .upload-file-box {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .file-image {
      width: 150px;
      height: 150px;
      margin-right: 15px;
      margin-bottom: 15px;
      border-radius: 12px;
      // background-color: red;
    }
    .add-file-icon {
      width: 150px;
      height: 150px;
      border-radius: 12px;
      background-image: url('../../assets/images/add_file_icon.png');
      background-size: cover;
    }
    .edit-file-icon {
      width: 150px;
      height: 150px;
      border-radius: 12px;
      line-height: 150px;
      text-align: center;
      font-size: 28px;
      color: #25d7c5;
      border: solid 1px#e6e6e6;
    }
  }
  .btn-box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 128px;
    padding: 18px 45px;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    .braces-btn {
      line-height: 100px;
      font-size: 36px;
      border-radius: 46px;
      color: #ffffff;
      background-color: #25d7c5;
      display: flex;
      justify-content: center;
      .btn-icon {
        width: 36px;
        height: 36px;
        margin: 32px 10px;
        background-image: url('../../assets/images/next_icon.png');
        background-size: cover;
      }
    }
  }
}