.diary-correct {
  padding: 100px 45px 0;
  // .braces-btn {
  //   height: 100px;
  //   line-height: 100px;
  //   margin-top: 100px;
  //   font-size: 36px;
  //   border-radius: 16px;
  //   box-shadow: 0px 10px 28px 0px rgba(38, 38, 48, 0.2);
  //   color: #ffffff;
  //   background-color: #262630;
  //   display: flex;
  //   justify-content: center;
  //   .btn-icon {
  //     width: 36px;
  //     height: 36px;
  //     margin: 32px 10px;
  //     background-image: url('../../assets/images/next_icon.png');
  //     background-size: cover;
  //   }
  // }
  .btn-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    padding: 18px 45px;
    box-sizing: border-box;
    background-color: #fff;
    .btn {
      height: 92px;
      line-height: 92px;
      background-color: #25d7c5;
	    border-radius: 46px;
      font-size: 36px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      .btn-icon {
        width: 36px;
        height: 36px;
        margin: 32px 10px;
        background-image: url(../../assets/images/next_icon.png);
        background-size: cover;
      }
    }
  }
}