page {
  background-color: rgba($color: #6ff1e4, $alpha: 0.6);
  background-image: url('../../assets/images/bg_icon.png');
  background-size: 20px 21px;
}
.course-home {
  width: 750px;
  height: 1016px;
  background-image: url('../../assets/images/course_bg_icon.png');
  background-size: cover;
  overflow: hidden;
  .course-card {
    width: 590px;
    height: 734px;
    margin: 230px 55px 0 105px;
    overflow: hidden;
    .card-title {
      position:relative;
      width: 390px;
      height: 54px;
      margin: 72px auto;
      .title-name {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 390px;
        font-size: 44px;
        line-height: 44px;
        font-weight: bold;
        text-align: center;
      }
      .title-line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 375px;
        height: 28px;
        background-color: #fbd026;
        opacity: 0.6;
      }
    }
    .card-content {
      width: 450px;
      margin: 45px auto;
      font-size: 28px;
      color: #787685;
    }
  }
  .btn-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    padding: 18px 45px;
    box-sizing: border-box;
    background-color: #fff;
    .btn {
      height: 92px;
      line-height: 92px;
      background-color: #25d7c5;
	    border-radius: 46px;
      font-size: 36px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      .btn-icon {
        width: 36px;
        height: 36px;
        margin: 30px 10px;
        background-image: url(../../assets/images/modify_icon.png);
        background-size: cover;
      }
    }
  }
}