page {
  background-color: #f8f8f8;
}
.community{
  padding: 102px 16px 50px;
  .selector-box {
    position: fixed;
    top: 0;
    left: 0;
    .community-area {
      height: 84px;
      line-height: 84px;
      font-size: 28px;
      background-color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      .area-icon {
        width: 12px;
        height: 22px;
        margin: 31px 10px;
        background-image: url('../../assets/images/result_icon.png');
        background-size: cover;
      }
    }
  }
  .community-list {
    display: flex;
    flex-wrap: wrap;
    .community-item {
      width: 339px;
      margin: 10px;
      background-color: #ffffff;
      border-radius: 16px;
      overflow: hidden;
      .item-image {
        display: block;
        width: 339px;
        height: 326px;
        // background-color: red;
      }
      .item-title {
        margin-top: 24px;
        padding: 0 24px;
        font-size: 28px;
        line-height: 28px;
        color: #000000;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .item-name {
        height: 36px;
        line-height: 36px;
        margin-top: 24px;
        margin-bottom: 28px;
        padding: 0 24px;
        font-size: 24px;
        color: #787685;
        display: flex;
        .head {
          width: 36px;
          height: 36px;
          margin-right: 15px;
          border-radius: 50%;
          // background-color: red;
        }
      }
    }
  }
}