page {
  background-color: rgba($color: #6ff1e4, $alpha: 0.4);
  background-image: url('../../assets/images/bg_icon.png');
  background-size: 20px 21px;
}
.bracesLog {
  overflow: hidden;
  padding-bottom: 140px;
  .error-data {
    text-align: center;
    color:#787685;
    font-size: 28px;
  }
  .top-btn {
    width: 420px;
    height: 94px;
    line-height: 94px;
    border-radius: 47px;
    margin: 60px auto 72px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff; 
    text-align: center;
    background-image: url('../../assets/images/btn_icon.png');
    background-size: cover;
  }
  .bracesLog-item-active {
    flex-direction: row !important;
    .item-image {
      transform: rotate(-5deg) !important;
    }
    .item-info {
      .info-icon {
        background-image: url('../../assets/images/right_arrows_icon.png') !important;
      }
    }
  }
  .bracesLog-item {
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    .item-image {
      width: 258px;
      height: 231px;
      margin: 0 31px;
      border-radius: 4px;
      border: solid 10px #ffffff;
      transform: rotate(5deg);
    }
    .item-info {
      width: 292px;
      margin: 0 31px;
      overflow: hidden;
      .info-title {
        width: 170px;
        height: 48px;
        line-height: 48px;
        margin-top: 10px;
        padding: 0 16px;
        border-radius: 24px;
        font-size: 28px;
        text-align: center;
        color:#fff;
        background-color: #fba826;
      }
      .info-content {
        margin: 30px 0;
        font-size: 22px;
        color: #000000;
      }
      .info-icon {
        width: 80px;
        height: 96px;
        margin: 0 auto;
        background-image: url('../../assets/images/left_arrows_icon.png');
        background-size: cover;
      }
    }
  }
  .share-box {
    height: 26px;
    line-height: 26px;
    margin-top: 26px;
    font-size: 24px;
    color: #787685;
    display: flex;
    justify-content: center;
    .share-check-active {
      background-image: url('../../assets/images/check_icon.png') !important;
    }
    .share-check {
      width: 26px;
      height: 26px;
      margin-right: 10px;
      background-image: url('../../assets/images/check_default_icon.png');
      background-size: cover;
    }
  }
  .btn-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    padding: 18px 45px;
    box-sizing: border-box;
    background-color: #fff;
    .btn {
      height: 92px;
      line-height: 92px;
      background-color: #25d7c5;
	    border-radius: 46px;
      font-size: 36px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      .btn-icon {
        width: 36px;
        height: 36px;
        margin: 30px 10px;
        background-image: url(../../assets/images/other_icon.png);
        background-size: cover;
      }
    }
  }
}