page {
  background-color: rgba($color: #6ff1e4, $alpha: 0.6);
  background-image: url('../../assets/images/bg_icon.png');
  background-size: 20px 21px;
}
.braces-share {
  height: 1128px;
  box-sizing: content-box;
  .braces-card {
    width: 640px;
    height: 845px;
    margin: 120px auto;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url('../../assets/images/braces_share_bg.png');
    background-size: cover;
    .card-title {
      height: 44px;
      line-height: 44px;
      margin-top: 120px;
      font-size: 44px;
      font-weight: bold;
      display: flex;
      justify-content: center;
    }
    .card-image {
      display: block;
      width: 504px;
      height: 339px;
      margin: 40px auto;
      // background-color: red;
      border-radius: 16px;
    }
    .card-explain {
      width: 504px;
      margin: 0 auto;
      font-size: 28px;
      color: #000000;
    }
  }
  
  .btn-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    padding: 18px 45px;
    box-sizing: border-box;
    background-color: #fff;
    .btn {
      height: 92px;
      line-height: 92px;
      background-color: #25d7c5;
	    border-radius: 46px;
      font-size: 36px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      .btn-icon {
        width: 36px;
        height: 36px;
        margin: 32px 10px;
        background-image: url(../../assets/images/modify_icon.png);
        background-size: cover;
      }
    }
  }
}