.explain {
  padding: 40px 32px;
  .content-box {
    margin-bottom: 20px;
    padding: 40px 28px;
    border-radius: 12px;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #000000;
    .content-title {
      font-size: 32px;
      margin-bottom: 23px;
    }
    .content-image {
      width: 610rpx;
      margin-top: 20rpx;
      // height: 282px;
      // background-color: red;
    }
    .content-video {
      width: 610rpx;
      margin-top: 20rpx;

    }
  }
}