page {
  background: #F3F3F3;
}
.home {
  background-color: #f8f8f8;
  .home-tab {
    padding-top: 30px;
    margin-bottom: 25px;
    background-color: #fff;
    .tab-title {
      height: 25px;
      line-height: 25px;
      margin-bottom: 60px;
      font-size: 26px;
      display: flex;
      justify-content: center;
      .title-day {
        font-size: 32px;
        color: #25d7c5;
        margin: 0 10px;
      }
      .title-line {
        width: 55px;
        height: 2px;
        margin: 11px 30px;
        border-radius: 1px;
        opacity: 0.5;
        background-color: #cacacf;
      }
    }
    .tab-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .tab-item {
        width: 130px;
        font-size: 26px;
        margin: 0 60px 40px;
        color: #787685;
        .tab-icon {
          display: block;
          transform: translateX(-50%);
          margin-left: 50%;
          width: 108px;
          height: 108px;
          background-size: cover;
        }
        .tab_group_icon { background-image: url('../../assets/images/tab_group_icon.png'); }
        .tab_doctor_icon { background-image: url('../../assets/images/tab_doctor_icon.png'); }
        .tab_correct_icon { background-image: url('../../assets/images/tab_correct_icon.png'); }
        .tab_diary_icon { background-image: url('../../assets/images/tab_diary_icon.png'); }
        .tab_integral_icon { background-image: url('../../assets/images/tab_integral_icon.png'); }
        .tab_info_icon { background-image: url('../../assets/images/tab_info_icon.png'); }
        .tab-name {
          line-height: 25px;
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }
  .home-box {
    margin: 0 32px 23px;
    padding: 40px 27px;
    background-color: #fff;
    border-radius: 12px;
    color: #000000;
    .box-title {
      font-size: 32px;
      display: flex;
      justify-content: space-between;
      .add-btn {
        width: 104px;
        height: 36px;
        line-break: 36px;
        border-radius: 18px;
        font-size: 24px;
        color: #25d7c5;
        background-color: rgba($color: #25d7c5, $alpha: 0.1);
        display: flex;
        justify-content: center;
        .add-icon {
          width: 24px;
          height: 24px;
          margin: 6px 0 0 6px;
          background-image: url('../../assets/images/add1_icon.png');
          background-size: cover;
        }
      }
    }
    .box-select {
      margin-top: 23px;
      background-color: #ffffff;
      border-radius: 12px;
      .select-item {
        height: 80px;
        line-height: 80px;
        padding: 0 25px;
        margin-bottom: 20px;
        font-size: 26px;
        color: #787685;
        border-radius: 16px;
        border: solid 1px #e6e6e6;
        display: flex;
        justify-content: space-between;
        .select-message {
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .select-icon {
          width: 12px;
          height: 22px;
          margin-top: 29px;
          background-image: url('../../assets/images/arrows_icon.png');
          background-size: cover;
        }
      }
    }
  }
}