page {
  background-color: #f8f8f8;
}
.scorecard {
  .scorecard-header {
    height: 218px;
    overflow: hidden;
    background-image: url(../../assets/images/scorecard_bg_icon.png);
    background-size: cover;
    .header-num {
      margin-top: 70px;
      line-height: 60px;
      font-size: 60px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
    }
    .header-text {
      margin-top: 20px;
      line-height: 24px;
      font-size: 24px;
      opacity: 0.6;
      color: #ffffff;
      text-align: center;
    }
  }
  .scorecard-rule {
    width: 686px;
    padding: 40px 36px 50px;
    margin: 22px auto;
    border-radius: 16px;
    color: #000000;
    background-color: #ffffff;
    box-sizing: border-box;
    .rule-title {
      line-height: 36px;
      font-size: 36px;
    }
    .rule-box {
      width: 100%;
      margin-top: 46px;
      display: flex;
      justify-content: space-between;
      .rule-line {
        width: 1px;
        height: 56px;
        background-color: #e6e6e6;
      }
      .rule-item {
        color: #000000;
        .item-num {
          line-height: 32px;
          font-size: 32px;
          text-align: center;
        }
        .item-text {
          margin-top: 20px;
          line-height: 24px;
          font-size: 24px;
          color: #787685;
          text-align: center;
        }
      }
    }
  }
  .scorecard-notice {
    height: 26px;
    line-height: 26px;
    font-size: 24px;
    color: #787685;
    display: flex;
    justify-content: center;
    .notice-icon {
      width: 26px;
	    height: 26px;
      background-image: url('../../assets/images/notice_icon.png');
      background-size: cover;
    }
  }
  .scorecard-require {
    width: 686px;
    margin: 20px auto;
    padding: 37px 37px 50px;
    border-radius: 16px;
    background-color: #ffffff;
    box-sizing: border-box;
    .require-title {
      line-height: 36px;
      font-size: 36px;
    }
    .require-item {
      margin-top: 30px;
      line-height: 26px;
      font-size: 26px;
      color: #787685;
      display: flex;
      .item-index {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: 1px 12px 0 0;
        font-size: 20px;
        border-radius: 50%;
        color: #ffffff;
        text-align: center;
        background-color: rgba($color: #787685, $alpha: 0.4);
      }
    }
    .require-qrcode {
      margin-top: 50px;
      border-top: 1px solid #e6e6e6;
      .qrcode {
        display: block;
        width: 190px;
        height: 190px;
        margin: 50px auto;
      }
    }
    .require-explain {
      font-size: 26px;
      color: #000000;
      text-align: center;
    }
  }
}