.selector-box {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px #e6e6e6 solid;
  .selector-result {
    height: 50px;
    padding: 32px 0 25px;
    line-height: 50px;
    font-size: 28px;
    color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .result-left {
      width: 260px;
    }
    input {
      width: 300px;
      height: 50px;
      padding-right: 10px;
      line-height: 30px !important;
      font-size: 28px;
      text-align: right;
    }
    .input-placeholder {
      color: #ccc;
    }
    .result-right {
      display: flex;
      justify-content: flex-start;
      .result-name {
        width: 300px;
        padding-right: 16px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        text-align: right;
      }
      .text-color {
        color: #ccc !important;
      }
      .result-icon {
        width: 12px;
        height: 22px;
        margin-top: 14px;
        background-image: url('../../assets/images/result_icon.png');
        background-size: cover;
      }
    }
  }
}