page {
  background-color: #f8f8f8;
}
.doctor-list {
  padding: 24px 32px;
  .doctor-box {
    padding: 0 36px;
    border-radius: 16px;
    background-color: #fff;
    .doctor-item-border {
      border-bottom: solid 1px #e6e6e6;
    }
    .doctor-item {
      padding: 36px 0;
      display: flex;
      justify-content: space-between;
      .doctor-head {
        width: 92px;
        height: 92px;
        margin-right: 27px;
        border-radius: 50%;
        // background-color: red;
      }
      .doctor-info {
        width: 320px;
        margin-right: 15px;
        .info-name {
          line-height: 30px;
          margin-top: 10px;
          font-size: 32px;
          color: #000000;
        }
        .info-seniority {
          line-height: 23px;
          margin-top: 20px;
          font-size: 24px;
          color: #a9a8ae;
        }
      }
      .doctor-btn {
        width: 152px;
        height: 48px;
        margin-top: 22px;
        line-height: 48px;
        border-radius: 24px;
        font-size: 24px;
        color: #25d7c5;
        background-color: rgba($color: #25d7c5, $alpha: 0.08);
        display: flex;
        justify-content: center;
        .btn-icon {
          width: 11px;
          height: 20px;
          margin: 14px 0 0 8px;
          background-image: url('../../assets/images/arrows_icon.png');
          background-size: cover;
        }
      }
    }
  }
  .doctor-qr-code {
    margin-top: 24px;
    font-size: 36px;
    padding: 40px 36px;
    border-radius: 16px;
    color: #000000;
    background-color: #ffffff;
    .qr-code-explain {
      text-align: left;
    }
    .qr-code {
      display: block;
      width: 354px;
      height: 354px;
      margin: 70px auto 30px;
      // background-color: red;
    }
  }
}