page {
  width: 100%;
  height: 100%;
  background-color: #f4f4f6;
}
.doctorHome {
  // height: 100%;
  padding-bottom: 20px;
  .header {
    height: 344px;
    padding: 24px 38px;
    overflow: hidden;
    background-image: url('../../assets/images/doctor_bg_icon.png');
    background-size: cover;
    .header-title {
      display: flex;
      justify-content: flex-start;
      .header-head {
        width: 132px;
        height: 132px;
        margin-right: 30px;
        border-radius: 50%;
        border: 4px solid #fff;
        box-sizing: border-box;
      }
      .header-info {
        color: #ffffff;
        overflow: hidden;
        .header-name {
          line-height: 40px;
          margin-top: 23px;
          font-size: 40px;
        }
        .header-explain {
          margin-top: 21px;
          font-size: 28px;
          line-height: 28px;
        }
      }
    }
    .header-presentation {
      margin-top: 40px;
      font-size: 26px;
      color: #ffffff;
    }
  }
  .case-box {
    width: 687px;
    // height: 376px;
    margin: 40px auto 0;
    padding: 36px 24px;
    border-radius: 12px;
    box-sizing: border-box;
    color: #000000;
    background-color: #ffffff;
    .case-title {
      line-height: 32px;
      font-size: 32px;
      margin-bottom: 24px;
    }
    .case-list {
      display: flex;
      flex-flow: wrap;
      .case-item {
        width: 307px;
        height: 235px;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 20px;
        .item-image {
          display: flex;
          width: 100%;
          height: 100%;
          // background-color: red;
        }
      }
    }
    .case-list-comment {
      .case-item-comment {
        width: 100%;
        color: #000000;
        .item-comment-time {
          height: 30px;
          line-height: 30px;
          color: #cccccc;
          font-size: 20px;
        }
      }
    }
  }
  .btn {
    width: 660px;
    height: 100px;
    line-height: 100px;
    margin: 100px auto;
    border-radius: 16px;
    font-size: 36px;
    color: #fff;
    background-color: #25d7c5;
	  border-radius: 46px;
    display: flex;
    justify-content: center;
    .btn-icon {
      display: block;
      width: 34px;
      height: 34px;
      margin: 34px 10px;
      background-image: url('../../assets/images/publish_icon.png');
      background-size: cover;
    }
  }
}