page {
  background-color: #f8f8f8;
}
.home-import {
  .import-bg {
    width: 100%;
    height: 428px;
    background-image: url('../../assets/images/import_bg_icon.png');
    background-size: cover;
  }
  .import-box {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 686px;
    transform: translateX(-50%);
    padding: 40px 38px 60px;
    border-radius: 28px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 4px 24px 0px rgba(51, 51, 51, 0.05);
  }
  .import-btn {
    margin-top: 80px;
    height: 92px;
    line-height: 92px;
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .btn-left {
      width: 220px;
      border-radius: 46px;
      color:  #25d7c5;
      background-color:rgba($color: #25d7c5, $alpha: 0.12);
    }
    .btn-right {
      width: 362px;
      border-radius: 46px;
      color:#fff;
      background-color: #25d7c5;
      display: flex;
      justify-content: center;
      .right-icon {
        width: 44px;
        height: 44px;
        margin: 24px 0 0 10px;
        background-image: url(../../assets/images/next_icon.png);
        background-size: cover;
      }
    }
  }
}