.other-course {
  padding: 40px 32px;
  .course-content {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 50px 24px;
    .selector-box {
      padding: 0 25px;
      margin-bottom: 28px;
      font-size: 28px;
      height: 92px;
      line-height: 92px;
      border-radius: 12px;
      border: solid 1px #e1e1ea;
      box-sizing: border-box;
      .hydrated {
        width: 100%;
      }
      .selector-result {
        display: flex;
        justify-content: space-between;
        .result-left {
          max-width: 180px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .result-right {
          max-width: 400px;
          display: flex;
          justify-content: flex-end;
          position: relative;
          .name {
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            text-align: right;
            padding-right: 35px;
          }
          .icon {
            position: absolute;
            top: 35px;
            right: 0; 
            width: 22px;
            height: 22px;
            background-image: url('../../assets/images/pull.png');
            background-size: cover;
          }
        }
        input {
          height: 92px;
          text-align: right;
        }
      }
    }
    .course-list {
      // display: flex;
      // justify-content: space-around;
      // flex-wrap: wrap;
      width: 100%;
      .course-image {
        width: 100%;
        height: 80px;
        line-height: 80px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        border-bottom: #e1e1ea solid 1px;
      }
    }
  }
}