page {
  background-color: #f8f8f8;
}
.add-group {
  padding: 32px;
  .card-box {
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 12px;
    .card-title {
      margin: 120px auto 0;
      font-size: 44px;
      color: #000000;
      text-align: center;
      .title-color { 
        color: #25d7c5; 
      }
    }
    .card-explain {
      font-size: 28px;
      margin-top: 26px;
      color: #787685;
      text-align: center;
    }
    .code-image {
      width: 492px;
      height: 492px;
      margin: 60px auto 140px;
      // background-color: red;
      display: block;
    }
  }
  .hint {
    width: 517px;
    margin: 40px auto;
    color: #cacacf;
    text-align: center;
  }
}